*{background-color: #f2e9e4;}
img:hover {
    box-shadow: 10px 10px 5px rgba(180, 177, 177, 0.534);
  }

h5 {
    color: #ff6b6b;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

tr{
    margin-right:auto;
    margin-left: auto;
}